<div ng-include="'partials/navbar'"></div>

<h3>Filters</h3>
<div class="filters btn-toolbar" role="toolbar">
  <div class="btn-group">
    <h5 class="text-muted">General</h6>
    <button type="button" class="btn btn-default" data-ng-click="checkAll()"><span class="glyphicon glyphicon-ok"></span>  Check All</button>
    <button type="button" class="btn btn-default" data-ng-click="selectedPriority=[];"><span class="glyphicon glyphicon-remove"></span>  Uncheck All</button>
  </div>

  <div class="btn-group">
    <h5 class="text-muted">Priorities</h6>
    <button type="button" class="btn btn-default" data-ng-repeat="priority in prioritiesList" data-ng-click="setSelectedPriority()">{{priority.name}}<span data-ng-class="isChecked(priority.id)"></span>
    </button>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th class="col-md-6" data-ng-class="isReversed(reverseSortProjs)" ng-click="orderByField='project.title'; reverseSortProjs = !reverseSortProjs">Title</th>
          <th data-ng-class="isReversed(reverseSortProjs)" ng-click="orderByField='fields.priority.text'; reverseSortProjs = !reverseSortProjs">Priority</th>
          <th data-ng-class="" ng-click="orderByField='fields.progress'; reverseSortProjs = !reverseSortProjs">Progress</th>
          <th data-ng-class="" ng-click="orderByField='fields.stage.text'; reverseSortProjs = !reverseSortProjs">Stage</th>
          <th data-ng-class="" ng-click="orderByField='created_on'; reverseSortProjs = !reverseSortProjs">Submitted Date</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="project in filtered = (projects | priorityFilter:selectedPriority | orderBy:orderByField:reverseSortProjs)">
          <td class="col-md-6">{{project.project.title}}</td>
          <td>{{project.fields.priority.text}}</td>
          <td>{{project.fields.progress}}</td>
          <td><span ng-class="stages[project.fields.stage.text]">{{project.fields.stage.text}}</span></td>
          <td>{{project.created_on}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <table class="table table-bordered table-striped table-hover col-md-12">
    <thead>
      <tr>
        <th class="col-md-6" ng-click="orderByField='project.title'; reverseSortArchivedProjs = !reverseSortArchivedProjs">Title</th>
        <th ng-click="orderByField='fields.priority.text'; reverseSortArchivedProjs = !reverseSortArchivedProjs">Priority</th>
        <th ng-click="orderByField='fields.progress'; reverseSortArchivedProjs = !reverseSortArchivedProjs">Progress</th>
        <th ng-click="orderByField='fields.stage.text'; reverseSortArchivedProjs = !reverseSortArchivedProjs">Stage</th>
        <th ng-click="orderByField='created_on'; reverseSortArchivedProjs = !reverseSortArchivedProjs">Submitted Date</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in archivedProjects | orderBy:orderByField:reverseSortArchivedProjs">
        <td class="col-md-6">{{item.project.title}}</td>
        <td>{{item.fields.priority.text}}</td>
        <td>{{item.fields.progress}}</td>
        <td><span ng-class="stages[item.stage]">{{item.fields.stage.text}}</span></td>
        <td>{{item.created_on}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>