<div class="modal-dialog">
  <div class="modal-content">
  



<div class="modal-body">
<form accept-charset="UTF-8" action="/webforms/5483249/430233" enctype="multipart/form-data" id="webform-form" method="post" target="podio_comm_frame"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="tjRg00dSY6iIsq60mAJ5pkxFDT3BkNZb0k9yVsko4Ng="></div>

  <h5>Kareo.com Web Request </h5>

  <div class="form-description"><p>Please complete the following form to initiate a web request for Kareo.com.</p></div>

<div class="form">
    <div class="field" data-description="Add a simple &amp; straight-forward name for the project.">
        <span class="label"><label for="field_42672066">Title</label><em>*</em></span>
          <input class="text required" id="field_42672066" name="field_42672066" type="text">

    </div>
    <div class="field" data-description="">
        <span class="label"><label for="field_42672067">Project Start &amp; Deadline</label></span>
        <div class="date-wrapper">
	<input class="date-input localeAwareDate new-placeholder hasDatepicker" id="field_42672067_date" name="field_42672067[date]" placeholder="MM/DD/YYYY" type="text" value="">
    <span class="timeEntry_wrap"><input class="time-input new-placeholder hasTimeEntry" id="field_42672067_time" name="field_42672067[time]" placeholder="00:00 AM" type="text" value=""></span>

</div>

    </div>
    <div class="field" data-description="Add a detailed description of the requirements that make up this end product.">
        <span class="label"><label for="field_42672072"> Description</label><em>*</em></span>
          <textarea class=" required" id="field_42672072" name="field_42672072"></textarea>

    </div>
    <div class="field" data-description="">
        <span class="label"><label for="field_43862916">Goals &amp; Targets</label></span>
          <textarea id="field_43862916" name="field_43862916"></textarea>

    </div>
    <div class="field" data-description="">
        <span class="label"><label for="field_42672069">Images</label></span>
          <input class="file imageFile" id="field_42672069_0" name="field_42672069_0" type="file">
  <input class="file hidden imageFile" id="field_42672069_1" name="field_42672069_1" type="file">
  <input class="file hidden imageFile" id="field_42672069_2" name="field_42672069_2" type="file">
  <input class="file hidden imageFile" id="field_42672069_3" name="field_42672069_3" type="file">
  <input class="file hidden imageFile" id="field_42672069_4" name="field_42672069_4" type="file">
  <input class="file hidden imageFile" id="field_42672069_5" name="field_42672069_5" type="file">
  <input class="file hidden imageFile" id="field_42672069_6" name="field_42672069_6" type="file">
  <input class="file hidden imageFile" id="field_42672069_7" name="field_42672069_7" type="file">
  <input class="file hidden imageFile" id="field_42672069_8" name="field_42672069_8" type="file">
  <input class="file hidden imageFile" id="field_42672069_9" name="field_42672069_9" type="file">

  <div class="embed-description">Only jpg/png/gif/bmp file types are supported</div>

  <a href="#" class="add-file-field">Add another file</a>

    </div>
    <div class="field" data-description="">
        <span class="label"><label for="field_42672070">Link</label></span>
        

<div class="embed-wrapper" data-field-id="42672070" data-app-id="5483249">
  <div class="embed-sections">
    <div class="action-box">
      <a style="display:none" class="close-button icon-16 icon-x-black2">Remove</a>
    <div class="embed-preview-box" style="display: none;"></div><div class="embed-attach-box" style="display: block;"><div class="embed-attach-form"><table class="fluid-input-table"><tbody><tr><td class="input-cell"><input type="text" class="stream-embed-url" placeholder="Type or paste in a web address"></td><td><button class="tooltip button-new silver" title="Display a rich preview of any content found at the link. E.g. images, videos etc." data-tooltip-gravity="n" data-tooltip-max-width="200"><div class="icon-16 icon-16-monitor-grey"></div>Attach</button></td></tr></tbody></table></div></div></div>
    <div class="inline-add-more button-new silver">
      <div class="icon-16 icon-16-green-plus"></div>
      Add more
    </div>
  </div>
</div>
<div class="embed-description">Enter any web address to include a preview in your app item.</div>
    </div>
    <div class="field" data-description="">
          <h5 class="contact-header">Requester</h5>
<div class="contact-fields">
  <span class="label">
    <label for="field_53646885_name">Name</label>
  </span>
  <input class="text required-first-or-empty" id="field_53646885_name" name="field_53646885[name]" type="text">
  <span class="label">
    <label for="field_53646885_mail">Email</label>
  </span>
  <input class="text email" id="field_53646885_mail" name="field_53646885[mail]" type="text">
</div>
    </div>


    <div class="field">
      <span class="label"><label for="Attachments">Attachments</label></span>
        <input class="file" id="attachment_0" name="attachment_0" type="file">
  <input class="file hidden" id="attachment_1" name="attachment_1" type="file">
  <input class="file hidden" id="attachment_2" name="attachment_2" type="file">
  <input class="file hidden" id="attachment_3" name="attachment_3" type="file">
  <input class="file hidden" id="attachment_4" name="attachment_4" type="file">
  <input class="file hidden" id="attachment_5" name="attachment_5" type="file">
  <input class="file hidden" id="attachment_6" name="attachment_6" type="file">
  <input class="file hidden" id="attachment_7" name="attachment_7" type="file">
  <input class="file hidden" id="attachment_8" name="attachment_8" type="file">
  <input class="file hidden" id="attachment_9" name="attachment_9" type="file">


  <a href="#" class="add-file-field">Add another file</a>

    </div>

</div>
<div class="buttons">
    <input class="submit" name="commit" type="submit" value="Submit Request">
</div>

</form>
  </div>  
</div>